In [268]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [269]:
url = 'dests.txt'
dests= pd.read_csv(url)
df={'Target': [0,0,0,0], 'Distance_km': [0,0,0,0],'Duration':[0,0,0,0], 'Longitude': [0,0,0,0],"latitude":[0,0,0,0]}
df = pd.DataFrame(df)
df["Target"]=dests["Istanbul"]
df

      Target  Distance_km  Duration  Longitude  latitude
0  Amsterdam            0         0          0         0
1   Valletta            0         0          0         0
2      Basel            0         0          0         0
3       Doha            0         0          0         0

In [270]:
def get_geocode_distanc(destination):
    origin="Tel Aviv"
    api_key="AIzaSyB-kf7rrVNht8oV0PRNB2gLpZBWiLpqGhU"
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (destination,api_key)
    url_for_di= f"https://maps.googleapis.com/maps/api/distancematrix/json?origins={origin}&destinations={destination}&key={api_key}"
    response = requests.get(url)
    data = response.json()
    response_dis = requests.get(url_for_di)
    data_dist = response_dis.json()
    try:
        response = requests.get(url)
        if response.status_code != 200:
            print("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
                #distans from origin="Tel Aviv" to destination-by the txt whith distancematrix
                dist_val = data_dist['rows'][0]['elements'][0]['distance']['value']
                #the same thing for Duration
                dur_val = data_dist['rows'][0]['elements'][0]['duration']['value']
                #and last fint the Longitude and latitude whith geocode
                lon_lat=response_data['results'][0]['geometry']['location']
                return(lon_lat['lng'],lon_lat['lat'],dist_val/1000,dur_val//60)
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")

df[["Longitude","latitude","Distance_km","Duration"]]=df['Target'].apply(lambda x: pd.Series(get_geocode_distanc(x)))

In [271]:
df

      Target  Distance_km  Duration  Longitude   latitude
0  Amsterdam     4532.541    2883.0   4.904139  52.367573
1   Valletta     3792.883    3050.0  14.514100  35.899237
2      Basel     4093.629    2647.0   7.588576  47.559599
3       Doha     2164.477    1358.0  51.531040  25.285447

In [284]:
ls=list(df.sort_values(by=["Distance_km"],ascending=False)["Target"])
ls[0:3]

['Amsterdam', 'Basel', 'Valletta']